html, body {
    height: 100%;
    background: #2B324B;
}

.container-fluid {
  height: 100%;
  background: #2B324B;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: table;
  margin: 0;
}

.distro-row {
  height: 100%;
}

.indigo-column, .kinetic-column, .lunar-column {
  float: none;
  display: table-cell;
}

.page-header, .page-footer {
  border: none;
  color: white;
  display: table-cell;
  width: 100%;
}

.img-responsive {
  margin: 0 auto;
}

.indigo-column
{
  height: 100%;
  background: #011437;
  width: 33%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.indigo-column a {
  color: #46B6EF;
}

.kinetic-column
{
  height: 100%;
  background: #000000;
  width: 33%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.kinetic-column a {
  color: #EB2E28;
}

.lunar-column
{
  height: 100%;
  background: #676767;
  width: 33%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.lunar-column a {
  color: #FFFFFF;
}



/*Corner Ribbon*/

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #fff;
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

