{% extends "base.html" %}

{% block title %}Submit Pre-Release Job for {{distro}}{% endblock %}

{% block js %}
<script src="/static/js/ajax_functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">


var active_color = '#000'; // Colour of user provided text
var inactive_color = '#336699'; // Colour of default text

$(document).ready(function() {
  $("input.default-value").css("color", inactive_color);
  var default_values = new Array();
  $("input.default-value").focus(function() {
    if (!default_values[this.id]) {
      default_values[this.id] = this.value;
    }
    if (this.value == default_values[this.id]) {
      this.value = '';
      this.style.color = active_color;
    }
    $(this).blur(function() {
      if (this.value == '') {
        this.style.color = inactive_color;
        this.value = default_values[this.id];
      }
    });
  });
});


$(window).load(function()
{
  var repo_list = {}
  {% for r in repos %}
    repo_list['{{r.0}}'] = '{{r.1}}';
  {% endfor %}
  run_jobs('{{email}}', '{{ros_distro}}', repo_list);
});

</script>
{% endblock %}




{% block content %}
<h2>Triggering Pre-Release Tests</h2>
<p>
Please wait while we're triggering the pre-release tests on ROS distro {{ros_distro}} for:
<ul>
{% for r in repos %}
  <li> {{r.0}} ({{r.1}}) </li>
{% endfor %}
</ul>
When the tests finish, you will receive an email at {{email}}.
</p>

{% endblock %}
