{% extends "base.html" %}

{% block title %}Submit Pre-Release Job for {{distro}}{% endblock %}

{% block js %}
<script src="/static/js/ajax_functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">


var active_color = '#000'; // Colour of user provided text
var inactive_color = '#336699'; // Colour of default text

$(document).ready(function() {
  $("input.default-value").css("color", inactive_color);
  var default_values = new Array();
  $("input.default-value").focus(function() {
    if (!default_values[this.id]) {
      default_values[this.id] = this.value;
    }
    if (this.value == default_values[this.id]) {
      this.value = '';
      this.style.color = active_color;
    }
    $(this).blur(function() {
      if (this.value == '') {
        this.style.color = inactive_color;
        this.value = default_values[this.id];
      }
    });
  });
  $("#success").hide();
  $("#failure").hide();
});


$(window).load(function()
{
  var repo_list = {}
  {% for r in repos %}
    repo_list['{{r.0}}'] = '{{r.1}}';
  {% endfor %}

  run_jobs('{{email}}', '{{ros_distro}}', repo_list);

  var rotation = function (){
     $("#pr2").rotate({
        angle:0,
        animateTo:360,
        callback: rotation
     });
  }
  rotation();
  });

</script>
{% endblock %}




{% block content %}
<div id="waiting" >
  <h2>Please wait while triggering Pre-Release tests...</h2>
  <p>
  We're now triggering the pre-release tests on ROS distro {{ros_distro}} for:
  <ul>
  {% for r in repos %}
    <li> {{r.0}} ({{r.1}}) </li>
  {% endfor %}
  </ul>
  </p>
  <br>
  <img id="pr2" src="/static/images/search.png" height="200"/>
</div>


<div id="success" >
  <h2>Success!!!!</h2>
  <p>
  We successfully trigered your pre-release jobs. When the jobs finish, you'll receive an email at {{email}}
  <ul>
  {% for r in repos %}
    <li> {{r.0}} ({{r.1}}) </li>
  {% endfor %}
  </ul>
  </p>
  <br>
  <img id="pr2_success" src="/static/images/success.png" height="200"/>
</div>


<div id="failure" >
  <h2>Failed......</h2>
  <p>
  We failed to triger your pre-release jobs... Check out the output below.
  <ul>
  {% for r in repos %}
    <li> {{r.0}} ({{r.1}}) </li>
  {% endfor %}
  </ul>
  </p>
  <br>
  <img id="pr2_fail" src="/static/images/failure.png" height="200"/>
</div>

<p id="output"></p>


{% endblock %}
