{% load dajaxice_templatetags %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% dajaxice_js_import %}
    <script src="/static/js/jquery-1.8.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jQueryRotate.2.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/dajax/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
    {% block js %}{% endblock %}
</head>
<body class="fuelux">
    {% block content %}{% endblock %}
</body>
</html>
